/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background: rgb(25, 22, 22);
}

                /* navigation start */

.flex-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background: black;
    color: white;
    height: 70px;
}


.logo {
    /* background: black; */
    width: 90px;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 24px;
    position: relative;
}

nav a:hover {
    color: rgb(226, 226, 226);
}

nav a::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 0%;
    background-color: white;
    margin-top: 28px;
    transition: all ease-in-out 280ms;
}


nav a:hover::before {
    width: 100%;
}


.order-btn {
    margin-right: 30px;
}


@media (max-width:760px) {
    nav {
        display: none;
    }
    .order-btn {
        margin-right: 120px;
        z-index: 99;
    }
}
/* navigation end */


                /* main layout start */


.grid-container {
    display: grid;
    max-width: 1024px;
    margin: 0px auto;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
}

.item {
    background: steelblue;
    color: white;
    font-size: 20px;
    border: skyblue 1px solid;
    padding: 20px;
}

.span2 {
    grid-column: 1 / span 2;
}

.wrapper {
    height: 85vh;
}

.text {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:760px) {
    .item {
        grid-column: 1 / span 2;
    }
}


/* main layout end!!! and btw this was easy and not to much code with grid*/


